<div class="grid title-block">
    <div class="g-col-9 g-col-sm-8 order-1 order-sm-2 order-md-1">
        <div class="course-title">
            $title$
        </div>
        <h1 class="course-subtitle">
            $subtitle$
        </h1>
        <div class="course-detail">
            $details$
        </div>
    </div>
    <div class="g-col-3 g-col-sm-4 order-2 order-sm-1 order-md-2 course-icon">
          <span class="fa-stack course-icon">
            <i class="fas $course-icon-bg$ fa-stack-2x" style="color: #5d8198;"></i>
            <i class="far $course-icon$ fa-stack-1x fa-inverse" style="margin-top:-5pt"></i>
          </span>
    </div>
</div>